/* Style for the elements that hold the squares */
.grid {
  width: 125px;
  background: #DDD;
  height: 125px;
  float: left;
  margin-right: 20px;
}

/* The squares that will be animated */
.svy-label.grid-item {
  color: #fff;
  cursor: pointer;
  margin: 0 5px 5px 0;
  background: #09F;
  float: left;
  font-size: 32px;
  text-align: center;
  border-radius: 4px;
  
  box-shadow: 3px 3px 8px #aaa;
	
  -webkit-transition: width 2s, height 2s, background-color 300ms, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 300ms, transform 2s;
}

.svy-label.grid-item:HOVER
{
	box-shadow: 6px 6px 8px #888;
	background: #06c;
}

/* the class used to animate the sqaures */
.svy-label.is-moved {
  transform: translateX( 500px ) rotate( 720deg );
  background-color: #ff8000;
}
.svy-label.is-moved:HOVER {
  background-color: #dd7000;
}

